<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<userSettings>
		<Database_Project.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\rudeb\source\repos\Database Project\Database Project\BritannicusReadingRoom.mdf";Integrated Security=True</value>
			</setting>
		</Database_Project.Properties.Settings>
	</userSettings>
</configuration>